
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: rgb(0, 0, 0);
}

.header {
  padding: 30px;
  text-align: center;
  background: rgb(44, 46, 48);
  color:#f2f2f2
}

.header h1 {
  font-size: 50px;
  font-style:italic;
}

.topnav {
  overflow: hidden;
  background-color: rgb(108, 114, 116);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #373e3f;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #181b1b;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaaaaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #dddddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

table{
    border: 1px solid #000;
    text-align: center;
    width:100%;
    margin-top: 45px;
    border-collapse: collapse;
    background-color:  rgb(56, 56, 56) ;
    color:#f2f2f2;
   }

  td{
    border: 1px solid #000;
    border-collapse: collapse;
   }